body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cccccc;;
}

header {
    background: black;
    color: white;
    padding: 30px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background: #555;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
#top{
    padding-bottom: 30px;
}
#s{
    margin: 150px 390px;
    font-size:xx-large
}
#m{
    padding: 20px;
    font-size: x-large;
}